doc/html/*
*.dat
*.vtu
*.vti
*.out
*.log
*.mod
*.o
amrvac.h
*amrvac
*.amrvac.log.shfp.*
*F90sources
!**/correct_output/**
*.bak
*.csv
*.log.shfp.*
/tests/hd/*/makefile
/tests/mhd/*/makefile
/tests/rho/*/makefile
/tests/multigrid/*/makefile
/tests/rd/*/makefile
/tests/rhd/*/makefile
/test-v2/*/*/*
/tools/fortran/compare_logs
/tests/*/*/mod_usr.f
/lib/1d_*
/lib/2d_*
/lib/3d_*
*~
*\#
*__pycache__/
*.pyc
.idea/
*.npy
/src/new_makefile
.*.swp
mod_usr.F90
build

/tests/ffhd/*/*.mk
settings.json
.vscode/*
